body {
  background-color: #22272b;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Noto Serif", serif;
  color: #ffffff;
}

div.imglogolegemfooter {
  text-align: center;
  justify-content: center;
}

.bordleft {
  border-left: 0.1rem solid #A39474;
}

p.pfooterindexarg {
  font-size: 1.1rem;
}

a.afooterindexarg {
  font-size: 1.1rem;
}

a.afooterindexarg:hover {
  color: #6d716e;
}

@media screen and (max-width: 991px) {
  div.imglogolegemfooter {
    text-align: center;
  }

  .bordbott {
    border-bottom: 0.1rem solid #A39474;
  }

  .textadjust {
    text-align: center;
  }

  .bordleft {
    border-left: none;
  }
}
body section.text-light.p-3.text-center.section-1-index {
  background-color: #22272b;
}

img.img-argentina:hover {
  box-shadow: 0rem 0rem 2rem #368cb4b7;
}

img.img-europa:hover {
  box-shadow: 0rem 0rem 2rem #e25d3cb7;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.05);
}

nav.navbar-expand-lg.navbar-dark {
  background-color: #22272b;
}

button.navbar-toggler.shadow-none {
  border: none;
}

div ul li a.nav-link {
  color: white;
}

a img.arg-leon {
  width: 4rem;
}

a.active-inicio {
  text-decoration: underline;
  text-underline-position: under;
  font-weight: bold;
}

div.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

button span.carousel-control-prev-icon {
  align-self: flex-end;
}

button span.carousel-control-next-icon {
  align-self: flex-end;
}

.car-slide-indexarg-h2 {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
p.car-slide-indexarg-p {
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1.cssforh1 {
  font-size: 5rem;
  color: wheat;
  text-shadow: 3px 3px 4px #22272b;
  border-top: 0.2rem solid wheat;
}

h2.cssforh2 {
  font-size: 4.1rem;
  color: wheat;
  text-shadow: 3px 3px 4px #22272b;
  border-top: 0.2rem solid wheat;
}

p.cssforpcarousel {
  font-size: 1.9rem;
  color: white;
  text-shadow: 1px 1px 3px #22272b;
}

section.arg-index-section-2 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

p.psection2indexarg1 {
  font-size: 1.4rem;
  color: #a39377;
  font-weight: bold;
}

h2.h2section2indexarg {
  font-size: 3.2rem;
  font-weight: bold;
}

p.psection2indexarg2 {
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  h1.cssforh1 {
    font-size: 3rem;
  }

  h2.cssforh2 {
    font-size: 2.6rem;
  }

  p.cssforpcarousel {
    font-size: 1.5rem;
  }
}
button.navbar-toggler.shadow-none {
  border: none;
}

div ul li a.nav-link {
  color: white;
}

a img.arg-leon {
  width: 4rem;
}

a.active-estudio-arg {
  text-decoration: underline;
  text-underline-position: under;
  font-weight: bold;
}

section.nuestro-estudio-section-2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

p.psection2nuestroestudio {
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
}

a.active-practica-arg {
  text-decoration: underline;
  text-underline-position: under;
  font-weight: bold;
}

a.active-contacto-arg {
  text-decoration: underline;
  text-underline-position: under;
  font-weight: bold;
}

img.mantenimiento {
  padding-left: 8rem;
  width: 90%;
  height: 90%;
}

/*# sourceMappingURL=style.css.map */
