
// Arg Index Navbar

// nav.navbar.navbar-expand-lg.bg-dark.navbar-dark {
//     background-color: #22272b;
// }

nav.navbar-expand-lg.navbar-dark {
    background-color: #22272b
}

button.navbar-toggler.shadow-none {
    border: none;
}

div ul li a.nav-link {
    color: white;
}

a img.arg-leon {
    width: 4rem;
}

a.active-inicio {
    text-decoration:overline;
    font-weight: bold;
}

// Arg Index section 1

button span.carousel-control-prev-icon {
  align-self: start;
}

button span.carousel-control-next-icon {
  align-self: start;
}

div.carousel-caption {
    left: 0;
}

h5.car-slide-indexarg-h5 {
    font-size: 3rem;
    text-align: start;    
    color: white;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

p.car-slide-indexarg-p {
    font-size: 2rem;
    text-align: start;
    color: white;
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@media screen and (min-width: 992px) {

  div.carousel-caption {
    top: 20rem;
}

}