

a.active-contacto-arg {
    text-decoration: underline;
    text-underline-position: under;
    font-weight: bold;
}

// Section 2 Áreas de práctica

section.contacto-section-2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h2.h2section2contacto {
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 4rem;
    color: rgba(163, 147, 119, 1);
}