
div.sect-team {
    background-color: rgba(163, 147, 119, 0.144);
}

.equipo-h1 {
    color: rgb(199, 172, 127);
    font-size: 2.3rem;
    padding-bottom: 0.5rem;
}

.equipo-h2 {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.equipo-h3 {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

div.equipo-padd-top {
    padding-top: 4rem;
}

div.equipo-div-padding {
    padding-top: 2rem;
}

a.equipo-linkedin {
    text-decoration: none;
}

h3.equipo-linkedin2:hover {
    color: rgb(199, 172, 127);
}

@media screen and (max-width: 991px) {

    img.equipo-pic-padd-bot {
        padding-bottom: 1rem;
    }
  
}

