
// Arg Index Navbar

// nav.navbar.navbar-expand-lg.bg-dark.navbar-dark {
//     background-color: #22272b;
// }

button.navbar-toggler.shadow-none {
    border: none;
}

div ul li a.nav-link {
    color: white;
}

a img.arg-leon {
    width: 4rem;
}